EAP/EmployeeMVC/EmployeeMVC/Web References/localhost/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="tbEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeDepartment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeSalary" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbEmployee" nillable="true" type="tns:tbEmployee" />
  <xs:complexType name="ArrayOftbEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbEmployee" nillable="true" type="tns:tbEmployee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbEmployee" nillable="true" type="tns:ArrayOftbEmployee" />
</xs:schema>